* {
  margin: 0;
}

/* Container */
.root {
  height: 80%;
}

/* Navigation */
nav {
  background: rgb(255, 166, 0);
  color: white;
}
ul {
  display: flex;
  justify-content: end;
  gap: 1em;

  list-style: none;
}
li {
  padding: 1em;
}
li a {
  text-decoration: none;
  color: white;
}

/* Footer */
footer {
  text-align: center;
}

/* Container */

.container {
  width: fit-content;
  margin: auto;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.form-actions {
  display: flex;
  justify-content: center;
}

/* Input */
input {
  padding: 1em;
  border-radius: 10px;

  border:  1px solid gray;
}

/* Button */
button {
  padding: 1em;
  border-radius: 12px;
  
  border:  1px solid gray;
}
